* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    cursor: default;
}

/*-------------------------------------------------
HEADER
 --------------------------------------------------*/

.nav {
    padding: 20px 0px;
    width: 100%;
    position: absolute;
    z-index: 10;
    transition: 0.5s;
}

.navigation {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: auto;
    cursor: pointer;
    text-decoration: none;
}

.logo h2 {
    cursor: pointer;
    font-size: 40px;
    color: white;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
}

.logo span {
    font-weight: 900;
    color: grey;
}

.logo h1:hover {
    color: grey;
    transition-duration: 0.5s;
}

.menu-toggle {
    /* padding: 4px 21px 0px 0px; */
    text-align: right;
    box-sizing: border-box;
    font-size: 35px;
    color: white;
    display: none;
}

i {
    cursor: pointer;
}

.menu {
    width: auto;
    text-align: center;
    cursor: pointer;
}

.list-ul {
    display: flex;
    align-items: center;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 100%;
	line-height: 200%;
    color: white;
}

.list-li a {
    height: 100%;
	color: white;
	text-decoration: none;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.list-li {
    width: 160px;
    float: left;
}

ul > li:hover  {
    transition-duration: 0.5s;
    color: grey;
}

ul > li:hover > a {
    color: grey;
    transition-duration: 0.5s;

}

@media (max-width: 1100px) {
    .navigation {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .list-li {
        display: block;
        text-align: center;
        float: none;
        width: 100%;
    }

    .list-ul {
        display: inline-block;
    }

    .menu {
        background-color: rgba(218, 218, 218, 0.068);
        display: none;
        max-width: 800px;
        margin: 0 auto;
        float: none;
        padding-bottom: 5px;
    }

    .showing {
        display: block;
    }

    .logo {
        margin-left: 30px;
        position: absolute;
    }

    .logo h2 {
        font-size: 25px;
        margin-top: 7px;
    }
}

.nav-active {
    padding: 10px 0px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #fcfcfc;
    transition: 0.5s;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
}

.nav-active .logo h2{
    color: rgb(92, 92, 92);
}

.nav-active .menu .list-ul a {
    color: rgb(92, 92, 92);
}

.nav-active .menu-toggle {
    color: #438afc;
}

.main {
    width: 100%;
    height: 100vh;
    background: #272727 no-repeat 50% 0% url(images/background10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main-container {
    top: 35%;
    width: 100%;
    position: absolute;
}

.main-container h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin-bottom: 15px;
    margin: 0px 15px 0px 15px;
    text-shadow: 0px 0px 3px #000;

}

.main-container h2 {
    font-size: 23px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 3px #000;
}

.main-container-button {
    text-align: center;
    margin-top: 20px;
}

.button {
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    background-color: initial;
    width: 250px;
    line-height: 45px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
    margin: 15px 15px 0px 15px;
    font-size: 20px;
    transition-duration: .4s;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 3px #000;
}

.button-contact {
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    background-color: #ffffff;
    width: 200px;
    line-height: 45px;
    display: inline-block;
    font-family: Arial;
    font-weight: 600;
    margin: 15px 15px 0px 15px;
    font-size: 20px;
    transition-duration: .4s;
    color: #1B1B1B;
    cursor: pointer;
}

.icons {
    display: flex;
}

.icon-fb {
    position: absolute;
    bottom: 25px;
    right: 5%;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(80, 80, 80, 0.096);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;

}

.icon-fb span {
    font-size: 35px;
    margin: 7px 0px 7px 0px;
    color: white;
    cursor: pointer;
}

.icon-email {
    position: absolute;
    height: auto;
    bottom: 25px;
    right: 5%;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(80, 80, 80, 0.096);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    color: white;
    padding: 5px;
}

.icons-h3 {
    color: white;
    padding: 5px;
    font-weight: 300;
    font-size: 18px;
    cursor: pointer;
}

.down span {
    cursor: pointer;
    font-size: 60px;
    color: white;
    animation: animate 1s linear infinite;
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: 0.5s;
}

@keyframes animate
{
    50%
    {
        transition: 0.5s;
        top: 93%;
    }

}

@media (max-width: 1150px) {
    .main-container h1 {
        font-size: 40px;
    }

    .main-container h2 {
        font-size: 20px;
    }

    .button {
        font-size: 16px;
        width: 200px;
        border: 2px solid white;
        line-height: 43px;
    }

    .button-contact {
        font-size: 16px;
        width: 200px;
        line-height: 43px;
        border: 2px solid white;
    }


}

@media (max-width: 900px) {
    .down span {
        display: none;
    }
}

@media (max-width: 650px) {
    .main-container h1 {
        font-size: 33px;
    }

    .main-container h2 {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
        width: 170px;
        border: 2px solid white;
        line-height: 40px;
    }

    .button-contact {
        font-size: 14px;
        width: 170px;
        border: 2px solid white;
        line-height: 40px;
    }

    .icons-h3 {
        font-size: 13px;
    }

    .icon-fb span {
        font-size: 25px;
        margin: 5px 0px 5px 0px;
    }

    .icon-email {
        position: absolute;
        height: auto;
        bottom: 25px;
        right: 5%;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(80, 80, 80, 0.096);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
        color: white;
        font-size: 10px;
        padding: 3px;
    }

    .icon-fb {
        position: absolute;
        bottom: 25px;
        right: 5%;
        width: 35px;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid rgb(255, 255, 255);
        background-color: rgba(80, 80, 80, 0.096);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        text-align: center;
    }

    .main-container {
        top: 32%;
        width: 100%;
        position: absolute;

}


@media (max-width: 490px) {
    .main-container h1 {
        font-size: 27px;
    }

    .main-container h2 {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
        width: 150px;
        margin-top: 0;
        border: 2px solid white;
        line-height: 32px;
    }

    .button-contact {
        font-size: 14px;
        width: 150px;
        border: 2px solid white;
        line-height: 32px;
    }

    .button-contact {
        display: none;
    } 
}
}




/*-------------------------------------------------
    END HEADER
 --------------------------------------------------*/

 /*-------------------------------------------------
    MAIN
 --------------------------------------------------*/

  /*-------------------------------------------------
    OFFER
 --------------------------------------------------*/

 .offer {
    background-color: #fcfcfc;
 }

 .offer-text-h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #1B1B1B
 }

 .offer span {
    color: #006CCB;
}

 .offer-text-p {
    margin: 10px 0px 30px 0px;
    text-align: center;
    font-size: 19px;
    color: #545761;
 }

 .offer-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1500px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
 }

 .offer-tiles {
    height: 275px;
    width: 400px;
    margin: 15px;
    background-color: rgb(250, 250, 250);
    border-radius: 2px;
    border-radius: 12px;
 }

 .offer-tiles:hover {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.02), inset 0 0px 5px 1px rgba(0, 0, 0, 0.07);
 }

 .offer-tiles-h2 {
     color: #2D2D2D;
     margin-top: 30px;
     margin-left: 30px;
     border-left: 7px solid #006CCB;
     padding-left: 15px;
     font-size: 20px;
 }

 .offer-tiles-p {
     color: #1B1B1B;
     margin: 25px;
     font-size: 17px;
 }

 @media (max-width: 876px) {
     .offer-tiles {
        margin: 0px 15px 0px 15px;
    }

    .offer-text-h2 {
        font-size: 30px;
    }
 }


  /*-------------------------------------------------
    END OFFER
 --------------------------------------------------*/

  /*-------------------------------------------------
    ABOUT-US
 --------------------------------------------------*/

.about-us {
    padding: 50px 15px 50px 15px;
    border: 1px solid rgb(173, 173, 173);
    background-color: #e6e6e6;
    /* background: #272727 no-repeat 50% 0% url(images/about-us.png); */
    /* height: 400px; */
}

.about-us-text-h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #006CCB;
    font-size: 40px;
    color: #1B1B1B;
    width: 100px;
    margin: 0 auto;
}

.about-us-text-span {
    color: #006CCB;
}

.about-us-text-p {
    padding-top: 10px;
    line-height: 25px;
    text-align: center;
    max-width: 1250px;
    margin: 0 auto;
}

@media (max-width: 876px) {
    .about-us-text-h2 {
        font-size: 30px;
        text-align: center;
    }
}



  /*-------------------------------------------------
    END ABOUT-US
 --------------------------------------------------*/

/*-------------------------------------------------
    CONTENT
 --------------------------------------------------*/

 .content {
    background-color: #fcfcfc;;
 }

.content-text-h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #006CCB;
    padding-top: 75px;
    font-size: 40px;
    color: #1B1B1B;
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.content-text-span {
    color: #006CCB;
}

.content-container-text {
    max-width: 1200px;
    margin: 45px auto;
}

.content-container-text p {
    padding-top: 10px;
    margin: 10px 25px 30px 25px;
    text-align: left;
    font-size: 19px;
    color: #545761;
}

.content-container-text-h2 {
    margin: 0px 25px 0px 25px;
}

.content-container-text-h2 span {
    color: #006CCB;
}

@media (max-width: 876px) {
    .content-text-h2 {
        font-size: 30px;
        width: 230px;
    }
}

  /*-------------------------------------------------
    END CONTENT
 --------------------------------------------------*/

   /*-------------------------------------------------
    DESCRIPTION
 --------------------------------------------------*/

 .description {
    background: #272727 no-repeat 50% 0% url(images/photo.png);
 }

 .description-container {
    padding-bottom: 35px;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: center; */
 }

 .description-container-h2 {
    padding-top: 30px;
    color: white;
    text-align: center;
    font-size: 40px;
}

.description-container-h2-span {
    color: #006CCB;
}

.description-container-h3 {
    color: white;
    text-align: center;
}

.description-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.description-content-container {

}

.description-ul {
    margin: 40px 15px 0px 15px; 
    display: block;
    width: 270px;
    line-height: 20px;
    list-style-type: none;

}

.description-li {
    color: white;
    font-size: 19px;
    margin: 20px 0px 0px 0px;
}

.description-span {
    color: #006CCB;
}

.description-li:hover {
    color: white;
}

@media (max-width: 776px) {


    .description-ul {
        margin-top: 0;
    }

    .description-container h2 {
        font-size: 30px;
    }

    .description-container-h3 {
        font-size: 15px;
    }
}



/*-------------------------------------------------
    END DESCRIPTION
 --------------------------------------------------*/


/*-------------------------------------------------
    MINI CONTACT
 --------------------------------------------------*/

.mini-contact {
    background-color: #006CCB;
}

.mini-contact-container {
    padding: 65px 0px 65px 0px;
    color: white;
    text-align: center;
}


.mini-contact-container-h2 {
    text-align: center;
    font-size: 45px;
    margin: 0px 15px 0px 15px;
}

.mini-contact-container-h3 {
    margin: 0px 15px 0px 15px;
}

.mini-contact-container-span {
    font-size: 35px;
    padding: 0px 15px 0px 15px;
}

#font {
    font-size: 50px;
}

@media (max-width: 770px) {
    .mini-contact-container-h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .mini-contact-container-span { 
        font-size: 25px;
    }
}

@media (max-width: 560px) {
    .mini-contact-container-h2 {
        font-size: 25px;
    }

    .mini-contact-container-span { 
        font-size: 20px;
    }

    #font {
        font-size: 35px;
    }
}


/*-------------------------------------------------
    END MINI CONTACT
 --------------------------------------------------*/


 /*-------------------------------------------------
    END MAIN
 --------------------------------------------------*/

 /*-------------------------------------------------
    CONTACT
 --------------------------------------------------*/

 footer {
    background-color: #222222;
}

.contact {
    padding: 40px 0px 40px 0px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    color: #989898;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.contact-left {
    margin: 15px;
    max-width: 450px;
}

.contact-left-h2 {
    margin-bottom: 15px;
    font-size: 25px;
    text-align: left;
}

.contact-right-p {
    font-size: 22px;
    text-align: left;
}

.contact-right {
    margin: 15px;
    text-align: center;
}

.contact-right span {
    margin-top: 10px;
    font-size: 70px;
    color: rgb(236, 236, 236);
    cursor: pointer;
}

.contact-right span:hover {
    color: #006CCB;
}

.footer {

}

.footer p {
    border-top: 1px solid rgb(48, 48, 48);
    text-align: center;
    font-size: 15px;
    color: #989898;
    padding: 30px 0px 30px 0px;
}

@media (max-width: 785px) {
    .contact {
        max-width: 450px;
        justify-content: left;
    }

    .contact-right {
        width: 100%;
    }
}
 
 /*-------------------------------------------------
    END CONTACT
 --------------------------------------------------*/


 


